
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main{
    border: transparent;
    border-radius: 46%;
    width:400px;
    height: 450px;
    margin-top: 50px;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.801);
    box-shadow: 0 0 100px 0 orangered;
    
}
h2{
    margin-left: 70px;
    font-family: 'Times New Roman', Times, serif;
    color:  black; 
    
}
label{
    padding:13px;  
    font-weight: bold ;
    color:black;
    margin-left: 20px;
}
#temp{
    padding:5px;
    border:none;
    box-shadow: 0 0 10px 0 purple;
    background-color: skyblue;
    border-radius: 10px;

}
#temp:hover{
  background-color: rgb(255, 4, 255);
    box-shadow: 0 0 10px 0 orangered;
    color:black;
}
#temp_diff{
    padding:5px 10px;
    margin-left: 144px;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: skyblue;
    border:transparent;
    box-shadow: 0 0 10px 0 purple;
    
}
#temp_diff:hover{
  background-color: rgb(255, 5, 255);
    box-shadow: 0 0 10px 0 rgb(148, 137, 133);
    color:black;
}
  
    
 #submit{
    margin-left: 138px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 purple;
    padding:12px;
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    background-color: skyblue;
    
    }
  
    

 #submit:hover{
    background-color: rgb(250, 10, 250);
    box-shadow: 0 0 10px 0 orangered;
    color:black;

} 
span{
    margin-left: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:black;

}
.ocean { 
    height: 200px;
    width:100%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  
  .ocean.v01 .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  }
  
  .ocean.v01 {
      transform: rotate(180deg);
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    bottom: -25px;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    bottom: -25px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(5px);
    }
  }
@media only screen and (max-width: 700px) {
    #main{
      border: transparent;
      border-radius: 50%;
      width:350px;
      height: 350px;
      margin-top: 60px;
      align-items: center;
      background-color: rgba(255, 166, 0, 0.801);
      box-shadow: 0 0 100px 0 orangered;
      
  }
  h2{
      margin-left: 56px;
      font-family: 'Times New Roman', Times, serif;
      color:black; 
   
  }
  label{
      padding:10px;  
      font-weight: bold ;
      color:black;
      margin-left: 70px;
      margin-bottom: 10px;
      font-size: 18px;
      
  }
  #temp{
      padding:5px;
      border:none;
      box-shadow: 0 0 10px 0 purple;
      background-color: skyblue;
      border-radius: 10px;
      margin-left: 75px;
  
  } 
  #temp_diff{
    padding:5px 10px;
    margin-left: 120px;
    margin-bottom:15px;
    border-radius: 8px;
    background-color: skyblue;
    border:transparent;
    box-shadow: 0 0 10px 0 purple;
    
}
span{
  margin-left: 140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color:red;

}
#submit{
  margin-left: 130px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 purple;
  padding:12px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  background-color: skyblue;
  margin-bottom: 10px;
  
  }
  }
